.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 200px;
    margin:auto;
}

.day {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.selected {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
}

.range {
    background-color: #3498db;
    color: #fff;
}